:root {
    --color-text: #EF1F4D;
}

body {
    overflow: auto;
}

.body-class {
    background-color: #2D2A32;
    color: var(--color-text);
    margin: 0;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    height: 100%; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
}

.nav-a {
    display: block;
    color: var(--color-text);
    padding: 8px 16px;
    text-decoration: none;
    font-size: 21px;
}

.nav-a.active {
    background-color: #9B1C3D;
    color: var(--color-text);
}

.nav-a:hover:not(.active) {
    background-color: #9B1C3D;
    color: var(--color-text);
}

.div-class {
    margin-left: 15%;
    padding: 1px 16px;
}

.list-class {
    list-style-type: none;
}

.list-a {
    color: var(--color-text);
    padding: 8px 16px;
    text-decoration: none;
    font-size: 21px;
}

.list-a:hover {
    color: #9B1C3D;
}

.account-class {
    font-size: 16px;
}

form {
    margin: 20px;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
}

form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

form input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

form button[type="submit"] {
    background-color: var(--color-text);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button[type="submit"]:hover {
    background-color: #9B1C3D;
}

.form-comment {
    margin: 0;
    padding: 0;
    background-color: #2D2A32;
}

.div-form {
    width: 50%;
}

.div-form-comment {
    position: fixed;
    width: 600px;
    display: flow;
}

form textarea {
    width: 100%;
    height: 100px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

.div-comments {
    position: fixed;
    left: 54%;
    height: 300px;
    overflow: auto;
}

.comment {
    padding: 5px;
    width: 550px;
    border-bottom: 2px solid #9B1C3D;
}

.p-text-user {
    font-size: 20px;
}

.p-text-content {
    font-size: 18px;
}

.comment-date {
    font-size: 12px;
}

.info-section {
    font-size: 18px;
    position: relative;
}