{% extends 'football/base.html' %}
{% block title %}{{ team }}{% endblock %}
{% block content %}

    {% if user.is_authenticated %}
        <div class="flex-container">
            <section>
                <h2><a class="main-a"
                       href="{% url 'team-details' favourite_team.fav_team.id %}">{{ favourite_team.fav_team }}</a></h2>
                <div>
                    {% for league, matches in leagues.items %}
                        <ul class="list-class">
                            <h3>Matches in {{ league }}</h3>
                            {% if matches %}
                                {% for match in matches %}
                                    <li><a class="list-a" href="{% url 'match-details' match.id %}">{{ match }}</a></li>
                                {% endfor %}
                            {% else %}
                                Your team hasn't played any match in this league yet
                            {% endif %}
                        </ul>
                    {% endfor %}
                </div>
            </section>
        </div>
    {% endif %}

{% endblock %}