{% extends 'football/index.html' %}
{% block title %}{{ league }}{% endblock %}
{% block content %}
    <h3>Actual points</h3>
    <table>
        <tr>
            <th>Team</th>
            <th>Points</th>
        </tr>
        {% for team in teams %}
            <tr>
                <td><a class="list-a" href="{% url 'team-details' team.id%}">{{ team }}</a></td>
                <td>{{ team.points }}</td>
            </tr>
        {% endfor %}
    </table>
    <h3>Matches</h3>
    <ul class="list-class">
        {% for match in matches %}
            <li><a class="list-a" href="{% url 'match-details' match.id %}">{{ match }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}